<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div>아이디: <%=userInfo.userId %></div>
    <div>비밀번호: <%=userInfo.userPw %></div>
    <div>이름: <%=userInfo.userName %></div>
    <div>나이: <%=userInfo.userAge %></div>
    <div><img src="<%=userfile.path%>" width="300px"></div>
</body>
</html>