<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span {
            color: blueviolet;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <h1><%= title %></h1>
    <div><span><%= userInfo.id %></span>님 환영합니다.</div>
    <div>성별은 <span><%= userInfo.gender %></span>이고,</div>
    <div>생년월일은 <span><%= userInfo.yy %>년</span><span><%= userInfo.mm %>월</span><span><%= userInfo.dd %>일</span>이군요!!</div>
    <div>관심사는 <span><%= userInfo.hobby%></span>이네요!</div>
    <br/>
    <br/>
    <a href="/">홈으로 이동</a>
</body>
</html>